[submodule "src/test/resources/seismic-test-data"]
	path = src/test/resources/seismic-test-data
	url = git@code.usgs.gov:asl/seismic-test-data.git
[submodule "asl-java-utils"]
	path = asl-java-utils
	url = git@code.usgs.gov:asl/asl-java-utils.git
	branch = master
