[submodule "src/test/resources/seismic-test-data"]
	path = src/test/resources/seismic-test-data
	url = ../seismic-test-data.git
[submodule "asl-java-utils"]
	path = asl-java-utils
	url = ../asl-java-utils.git
	branch = master
